@model TownAttackRPG.Models.ViewModels.NewGame.SelectSaveVM
@{
    ViewData["Title"] = "SelectSaveSlot";
}

<div class="card-deck-menu-grid">
    <header class="card-deck-menu-title menu-title">SELECT SAVE SLOT</header>
    <content class="card-deck">
        @foreach (var saveGame in Model.SaveList)
        {
            if (saveGame.ActiveScenario != null)
            {
                var pc = saveGame.ActiveScenario.PlayerCharacter;

                <form method="post" asp-action="SelectSaveSlot">
                    <input type="hidden" asp-for="Slot" value="@saveGame.SaveGameSlot" />
                    <div class="card-backing">
                        <div class="card-padding">
                            <button class="save-slot-card" type="submit">
                                <header>Save Game @saveGame.SaveGameSlot</header>
                                <content>
                                    <section class="scenario">Scenario: @saveGame.ActiveScenario.Name</section>
                                    <section class="character-name">@pc.Name</section>
                                    <section class="profession">Lvl @pc.XP.Level @pc.Profession.Title</section>
                                </content>
                            </button>
                        </div>
                    </div>
                </form>
            }
            else
            {
                <form method="post" asp-action="SelectSaveSlot">
                    <input type="hidden" asp-for="Slot" value="@saveGame.SaveGameSlot" />
                    <div class="card-backing">
                        <div class="card-padding">
                            <button class="save-slot-card" type="submit">
                                <header>Save Game @saveGame.SaveGameSlot</header>
                                <content>Empty</content>
                            </button>
                        </div>
                    </div>
                </form>
            }
        }
    </content>
</div>